<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Patient CCD</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>
     <center><h2>Continuity of Care Document (Transition of Care)</h2></center>

    

    <% (patients['patient.json']).forEach(function(patient) { %>
   


	<div class="patient_data1">
	<table style="width:0%;float:left" id="basicData1" >
	 
	  <tr>
			<td>Patient:</td>
			<td><p class="patient_basicData"><%= patient.patient%></p></td>
		</tr>
		<tr>
			<td>Date of birth:</td>
			<td><p class="patient_basicData"><%= patient.dataOfBirth%></p></td>
		</tr>

		<tr>
			<td>Sex:</td>
			<td><p class="patient_basicData"><%= patient.sex%></p></td>
		</tr>
      <tr>
			<td>Race:</td>
			<td><p class="patient_basicData"><%= patient.sex%></p></td>
		</tr>
		</table>
		<table>
		<tr>
			<td>Ethnicity:</td>
			<td><p class="patient_basicData"><%= patient.ethnicity%></p></td>
		</tr>
		<tr>
			<td>Contact Info:</td>
			<td><p class="patient_basicData"><%= patient.patientContactInfo%></p></td>
		</tr>
		<tr>
			<td>Patient IDs:</td>
			<td><p class="patient_basicData"><%= patient.patientIds%> </p></td>
		</tr>	
		</table><br>
	</div>   
	 
    <div id="patient_data2">
    <table>
     <tr>
			<td>Document Id:</td>
			<td><p class="document_Info"><%= patient.documentId%></p></td>
		</tr>
		
		 <tr>
			<td>Document Created:</td>
			<td><p class="document_Info"><%= patient.documentCreated%></p></td>
		</tr>
		</table>
    </div>



   <div id="patient_data3">
    <table>
                <tr>
			<td>Performer:</td>
			<td><p class="performer"><%= patient.performer%></p></td>
		</tr>
   </table>
    </div>
    
     
     
     
    
    
    
    
    
    
    
    
    
    <div id="patient_data4">
    <table>
        <tr>
			<td>Author:</td>
			<td><p class="author_Info"><%= patient.author%></p></td>
		</tr>
		<tr>
			<td>Contact Info:</td>
			<td><p class="author_Info"><%= patient.authorContactInfo%></p></td>
		</tr> 
		</table>
    </div>
    
    
    <div id="patient_data5">
    <table>
       <tr>
			<td>Personal Relationship:</td>
			<td><p class="personal_relationship"><%= patient.personalRelationship%> </p></td>
		</tr>
     
     <tr>
			<td>Contact Info:</td>
			<td><p class="personal_relationship"> <%= patient.personalRelContactInfo%>  </p></td>
		</tr>
	</table>
	</div>
	
	<div id="patient_data6">
	   <table>
	     <tr>
			<td>Document Maintained by:</td>
			<td><p class="document_maintainer"></p> <%= patient.documentMaintainedBy%>  </td>
		</tr>
		 <tr>
			<td>Contact Info:</td>
			<td><p class="document_maintainer"> <%= patient.documentMaintainerContactInfo%>   </p></td>
		</tr>
	   
	   </table>
	</div>
	


 <% }); %>



	<div id="patient_data7">
	<h4>Allergies, Adverse Reactions, Alerts</h4>
	<table  style="width:100%">
	    <tr>
			<th>Allergen</th>
			<th>Type</th>
			<th>Severity</th>
			<th>Reaction</th>
			<th>Last Updated</th>
			<th>Verified</th>
			<th>Status</th>
		</tr>
	   <% (patients['patientAllergy.json']).forEach(function(patientAllergy) { %>	
	   	<tr>
			<td><%=patientAllergy.allergen%></td>
			<td><%=patientAllergy.type%></td>
			<td><%=patientAllergy.severity%></td>
			<td><%=patientAllergy.reaction%></td>
			<td><%=patientAllergy.lastUpdated%></td>
			<td><%=patientAllergy.verified%></td>
			<td><%=patientAllergy.status%></td>
		</tr>
	 <% }); %>
	</table>
	
	</div>
	
	
	<div id="patient_data8">
	<h4>Medications</h4> 
	<h5>Active Medications</h5>
	
	<table  style="width:100%">
    	<tr>
			<th>Medication</th>
			<th>Dose</th>
			<th>Units</th>
			<th>Route</th>
			<th>Sig</th>
			<th>Qty</th>
			<th>Days</th>
			<th>Start Date</th>
			<th>Discontinued Date</th>
			<th>Status</th>
			<th>Instructions</th>
		</tr>
      <% (patients['medication.json']).forEach(function(medication) { %>
         <tr>
			<td> <%=medication.medication%> </td>
			<td> <%=medication.dose%> </td>
			<td> <%=medication.units%> </td>
			<td> <%=medication.route%> </td>
			<td> <%=medication.sig%> </td>
			<td> <%=medication.qty%> </td>
			<td> <%=medication.days%> </td>
			<td> <%=medication.startDate%> </td>
			<td> <%=medication.discontinuedDate%> </td>
			<td> <%=medication.status%> </td>
			<td> <%=medication.instructions%> </td>
		</tr>
     <% }); %>

	</table>
	</div>
	
	<div id="patient_data9">
	<h4>Problem List</h4>
	<h5>Active Problems</h5>
	<table style="width:100%">
		 <tr>
			<th>Medical Problem</th>
			<th>Onset Date</th>
			<th>Status</th>
		</tr>
		<% (patients['activeProblems.json']).forEach(function(activeProblem) { %>
		 <tr>
			<td><%=activeProblem.medicalProblem%></td>
			<td><%=activeProblem.onsetDate%></td>
			<td><%=activeProblem.status%></td>
		</tr>
		<% }); %>
	</table>
	<h5>Inactive/Resolved Problems</h5>
	<table style="width:100%">
		 <tr>
			<th>Medical Problem</th>
			<th>Onset Date</th>
			<th>Status</th>
		</tr>
		<% (patients['inactiveProblems.json']).forEach(function(inactiveProblem) { %>
		 <tr>
			<td><%=inactiveProblem.medicalProblem%></td>
			<td><%=inactiveProblem.onsetDate%></td>
			<td><%=inactiveProblem.status%></td>
		</tr>
		<% }); %>
	</table>
	
	</div>
	
	
	<div id="patient_data10">
	<h4>Procedures</h4>
	<table style="width:100%">
	<tr>
	   <th>Procedure</th>
	   <th>Date</th>
	   <th>Status</th>
	   <th>Provider(s)</th>
	 </tr>
	 <% (patients['procedures.json']).forEach(function(procedure) { %>
	 <tr>
	   <td><%=procedure.procedure%></td>
	   <td><%=procedure.date%></td>
	   <td><%=procedure.status%></td>
	   <td><%=procedure.provider%></td>
	 </tr>
	 <% }); %>
	</table>
	
	</div>
	
	
	
	
	
	<div id="patient_data11">
	<h4>Relevant Diagnostic Tests and/or Laboratory Data</h4>
	<h5>Laboratory Results</h5>
	<table style="width:100%">
	<tr>
	   <th>Test</th>
	   <th>Date/Time</th>
	   <th>Result</th>
	   <th>Interp:</th>
	   <th>Ref Range:</th>
	   <th>Result Comment</th>
	</tr>
	 <% (patients['laboratoryResults.json']).forEach(function(laboratoryResult) { %>
	 <tr>
	   <td><%=laboratoryResult.test%></</td>
	   <td><%=laboratoryResult.dateTime%></td>
	   <td><%=laboratoryResult.result%></td>
	   <td><%=laboratoryResult.interp%></td>
	   <td><%=laboratoryResult.refRange%></td>
	   <td><%=laboratoryResult.resultComment%></td>
	</tr>
	 <% }); %>
	</table>
	
	<h5>Microbiology Results</h5>
	<table style="width:100%">
	<tr>
	   <th>Procedure</th>
	   <th>Source</th>
	   <th>Result</th>
	   <th>Collection Date/Time</th>
	   <th>Result Date/Time</th>
	 </tr>
	 <% (patients['microbiologyResults.json']).forEach(function(microbiologyResult) { %>
	 <tr>
	   <td><%=microbiologyResult.procedure%></</td>
	   <td><%=microbiologyResult.source%></td>
	   <td><%=microbiologyResult.result%></td>
	   <td><%=microbiologyResult.collectionDateTime%></td>
	   <td><%=microbiologyResult.resultDateTime%></td>
	</tr>
	 <% }); %>
  </table>
	</div>
	
	
	
	
	<div id="patient_data12">
	<h4>Advance Directives</h4>
	<table style="width:100%">
	<tr>
	   <th>Advanced Directive</th>
	   <th>Response</th>
	   <th>Recorded Date/Time</th>
	 </tr>
	  <% (patients['advanceDirectives.json']).forEach(function(advanceDirective) { %>
	 <tr>
	   <td><%=advanceDirective.advanceDirective%></</td>
	   <td><%=advanceDirective.response%></td>
	   <td><%=advanceDirective.recordedDateTime%></td>
	</tr>
	 <% }); %>
	</table>
	
	</div>
	
	
	
	
	<div id="patient_data13">
	<h4>Chief Complaint and Reason for Visit</h4>
	<table style="width:100%">
	<tr>
	   <th>Encounter</th>
	   <th>Admit Date</th>
	   <th>Chief Complaint</th>
	   <th>Reason for Visit</th>
	 </tr>
	  <% (patients['complaintAndReasonforVisit.json']).forEach(function(complaintAndReasonforVisit) { %>
	 <tr>
	   <td><%=complaintAndReasonforVisit.encounter%></</td>
	   <td><%=complaintAndReasonforVisit.admitDate%></td>
	   <td><%=complaintAndReasonforVisit.chiefComplaint%></td>
	   <td><%=complaintAndReasonforVisit.reasonForVisit%></td>
	</tr>
	 <% }); %>
	</table>
	
	</div>
	
	
	
	<div id="patient_data14">
	<h4>Hospital Discharge Instructions</h4>
	<p class="hospital_discharge_instructions"></p>
	</div>
	
	
	
	
	<div id="patient_data15">
	<h4>Hospital Discharge Medications</h4>
	<table style="width:100%">
	<tr>
	   <th>Medication</th>
	   <th>Dose</th>
	   <th>Units</th>
	   <th>Route</th>
	   <th>Sig</th>
	   <th>Qty</th>
	   <th>Days</th>
	   <th>Order Date</th>
	   <th>Status</th>
	   <th>Instructions</th>
	 </tr>
	  <% (patients['hospitalDischargeMedications.json']).forEach(function(hospitalDischargeMedication) { %>
	 <tr>
	   <td><%=hospitalDischargeMedication.medication%></</td>
	   <td><%=hospitalDischargeMedication.dose%></td>
	   <td><%=hospitalDischargeMedication.units%></td>
	   <td><%=hospitalDischargeMedication.route%></td>
	   <td><%=hospitalDischargeMedication.sig%></</td>
	   <td><%=hospitalDischargeMedication.qty%></td>
	   <td><%=hospitalDischargeMedication.days%></td>
	   <td><%=hospitalDischargeMedication.orderDate%></td>
	   <td><%=hospitalDischargeMedication.status%></</td>
	   <td><%=hospitalDischargeMedication.instructions%></td>
	</tr>
	 <% }); %>
	</table >
	</div>
	
	
	
	
	
	<div id="patient_data16">
	<h4>Encounters</h4>
	<table style="width:100%">
	<tr>
	   <th>Encounter</th>
	   <th>Facility</th>
	   <th>Location</th>
	   <th>Admit Date</th>
	   <th>Discharge Date</th>
	   <th>Attending Provider</th>
	 </tr>
	  <% (patients['encounters.json']).forEach(function(encounter) { %>
	 <tr>
	   <td><%=encounter.encounter%></</td>
	   <td><%=encounter.facility%></td>
	   <td><%=encounter.location%></td>
	   <td><%=encounter.admitDate%></td>
	   <td><%=encounter.dischargeDate%></</td>
	   <td><%=encounter.attendingProvider%></td>
	</tr>
	 <% }); %>
	</table >
	<table style="width:100%">
	<tr>
	      <th>Encounter Diagnosis</th>
	      <th>Onset Date</th>
	 </tr>
	 	  <% (patients['encounterDiagnosis.json']).forEach(function(encounterDiagnosis) { %>
	 <tr>
	   <td><%=encounterDiagnosis.encounterDiagnosis%></</td>
	   <td><%=encounterDiagnosis.onsetDate%></td>
	</tr>
	 <% }); %>
	</table>
	</div>
	
	
	
	
	<div id="patient_data17">
	<h4>Family History</h4>
	<table style="width:100%" id="family_history">
	<tr>
	   <th>Query</th>
	   <th>Response</th>
	   <th>Instance</th>
	   <th>Date Recorded</th>
	   <th>Comment</th>
	  </tr>
	   <% (patients['familyHistory.json']).forEach(function(familyHistory) { %>
	 <tr>
	   <td><%=familyHistory.query%></</td>
	   <td><%=familyHistory.response%></td>
	   <td><%=familyHistory.instance%></td>
	   <td><%=familyHistory.dateRecorded%></td>
	   <td><%=familyHistory.comment%></</td>
	</tr>
	 <% }); %>
	</table >
	</div>
	
	
	
	
	<div id="patient_data18">
	<h4>Functional Status</h4>
	<p class="functional_status"></p>
	</div>
	
	
	
	
	<div id="patient_data19">
	<h4>Immunizations</h4>
	<table style="width:100%">
	<tr>
	   <th>Name</th>
	   <th>Date Given</th>
	   <th>Type</th>
	 </tr>
	  <% (patients['immunization.json']).forEach(function(immunization) { %>
	 <tr>
	   <td><%=immunization.name%></</td>
	   <td><%=immunization.dateGiven%></td>
	   <td><%=immunization.type%></td>
	</tr>
	 <% }); %>
	</table >
	</div>
	
	
	
	
	
	<div id="patient_data20">
	<h4>Payers</h4>
	<table style="width: 100%"  id="payer">
	<tr>
	  <th>Payer Name</th>
	  <th>Policy Type</th>
	  <th>Covered Party</th>
	  <th>Covered Party Id</th>
	  <th>Relationship</th>
	  <th>Subscriber</th>
	  <th>Subscriber Id</th>
	  </tr>
	 <% (patients['payers.json']).forEach(function(payer) { %>
	 <tr>
	   <td><%=payer.payerName%></</td>
	   <td><%=payer.policyType%></td>
	   <td><%=payer.coveredParty%></td>
	   <td><%=payer.coveredPartyId%></</td>
	   <td><%=payer.relationship%></td>
	   <td><%=payer.subscriber%></</td>
	   <td><%=payer.subscriberId%></td>
	</tr>
	 <% }); %>
	
	</table >
	</div>
	
	
	
	
	
	
	<div id="patient_data21">
	<h4>Plan of Care</h4>
	<p id=plan_of_care></p>
	</div>
	
	
	
	
	
<div id="patient_data22">
	<h4>Social History</h4>
	<table style="width:100%">
	<tr>
	  <th>Query</th>
	  <th>Response</th>
	  <th>Date Recorded</th>
	  <th>Comment</th>
	</tr>
	 <% (patients['socialHistory1.json']).forEach(function(socialHistory1) { %>
	 <tr>
	   <td><%=socialHistory1.query%></</td>
	   <td><%=socialHistory1.response%></td>
	   <td><%=socialHistory1.dateRecorded%></td>
	   <td><%=socialHistory1.comment%></</td>
	</tr>
	 <% }); %>
	 
	 </table >
	   	
	 <table style="width:100%">
	 <tr>
	   <th>Query</th>
	  <th>Response</th>
	  <th> Start Date</th>
	  <th>Stop Date</th>
	 </tr>
	 <% (patients['socialHistory2.json']).forEach(function(socialHistory2) { %>
	 <tr>
	   <td><%=socialHistory2.query%></</td>
	   <td><%=socialHistory2.response%></td>
	   <td><%=socialHistory2.startDate%></td>
	   <td><%=socialHistory2.stopDate%></</td>
	</tr>
	 <% }); %>
	 
	 </table>
	</div>
	
	
	
	
	
	<div id="patient_data23">
	<h4>Vital Signs</h4>
	<table style="width:100%">
	<tr>
	  <th>Vital Reading</th>
	  <th>Result</th>
	  <th>Reference Range</th>
	  <th>Collection Date/Time</th>
	</tr>
	 <% (patients['vitalSigns.json']).forEach(function(vitalSign) { %>
	 <tr>
	   <td><%=vitalSign.vitalReading%></</td>
	   <td><%=vitalSign.result%></td>
	   <td><%=vitalSign.referenceRange%></td>
	   <td><%=vitalSign.collectionDateTime%></</td>
	</tr>
	 <% }); %>
	</table >
	   	
	</div>
	
	
	
	
	
	
	
</body>
</html>